<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--
    <add name="MediaDatabase" connectionString="Server=NBSALADANIEL; Database=MediaDatabase; Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
    -->
    <add name="MediaDatabaseContext" connectionString="metadata=res://*/Entities.MediaDatabase.csdl|res://*/Entities.MediaDatabase.ssdl|res://*/Entities.MediaDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=MediaDatabase;integrated security=True;connect timeout=3;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>